<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Scan Code</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lamp Type
                    </h5>
                    <div class="Patients fadeInUp">
                        <div class="day ">
                            <div class="patient-card"  *ngFor="let typeData of data"
                                (click)='onClickOfLamp(typeData.TypeName)'>
                                <h3>{{typeData.TypeName}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>