<agm-map [latitude]="lat5" [longitude]="lng5">
    <agm-marker *ngFor='let loc of mylocations' 
    [latitude]='loc.lat' 
    [longitude]='loc.lng' 
    [iconUrl]="ic">
        <agm-info-window
            [latitude]='loc.lat' 
            [longitude]='loc.lng'>Location: {{loc.addr}}
    </agm-info-window> 
    </agm-marker>

    <agm-marker *ngFor='let loc of mylocations2'
     [latitude]='loc.lat' 
     [longitude]='loc.lng' 
     [iconUrl]="ic2">
     <agm-info-window
     [latitude]='loc.lat' 
     [longitude]='loc.lng'>Location: {{loc.addr}}
    </agm-info-window> 
    </agm-marker>
</agm-map>
